<section class="slider-home" *ngIf="!loadding">
    <div class="wrapper">
    <div class="slider-heght">
        <mat-carousel
          timings="500ms ease-in"
          [autoplay]="true"
          interval="5000"
          color="accent"
          maxWidth="auto"
          proportion="36"
          [loop]="true"
          [hideArrows]="true"
          [hideIndicators]="false"
          [useKeyboard]="true"
          [useMouseWheel]="false"
          orientation="ltr"
        >
          <mat-carousel-slide
            #matCarouselSlide
            *ngFor="let item of slider; let i = index"
            overlayColor="#00000040"
            [hideOverlay]="false"
          >
          <div class="about-image slide">
            <img src="{{item.image}}" class="imageSlider">
            <div class="flowBack">
              <div class="overFlowSlider">
                <h1>{{item.text}}</h1>
                <button class="btnSlider btn logIn" type="submit" *ngIf="item.btnText != null"><span>{{item.btnText}}</span></button>
                <button class="btnSlider btn getStarted" type="submit " routerLink="/register" *ngIf="!homeIstoken"><span>{{ 'GetStarted' | translate }}
                    <svg xmlns="http://www.w3.org/2000/svg" width="24.29" height="21.253" viewBox="0 0 24.29 21.253">
                        <g id="user_1_" data-name="user (1)" transform="translate(0 -0.008)">
                          <path id="Path_829" data-name="Path 829" d="M90.392,10.128a5.06,5.06,0,1,1,5.06-5.06A5.066,5.066,0,0,1,90.392,10.128Zm0-8.6a3.542,3.542,0,1,0,3.542,3.542A3.546,3.546,0,0,0,90.392,1.526Zm0,0" transform="translate(-81.284)" fill="#fff"/>
                          <path id="Path_830" data-name="Path 830" d="M17.458,265.116H.759A.759.759,0,0,1,0,264.357v-3.542a4.813,4.813,0,0,1,4.807-4.807h8.6a4.813,4.813,0,0,1,4.807,4.807v3.542A.759.759,0,0,1,17.458,265.116ZM1.518,263.6H16.7v-2.783a3.293,3.293,0,0,0-3.289-3.289h-8.6a3.293,3.293,0,0,0-3.289,3.289Zm0,0" transform="translate(0 -243.855)" fill="#fff"/>
                          <path id="Path_831" data-name="Path 831" d="M308.029,188.194h-8.6a.759.759,0,0,1,0-1.518h8.6a.759.759,0,0,1,0,1.518Zm0,0" transform="translate(-284.499 -177.813)" fill="#fff"/>
                          <path id="Path_832" data-name="Path 832" d="M395.431,110.921a.759.759,0,0,1-.536-1.3l3.512-3.512-3.512-3.512a.759.759,0,1,1,1.074-1.074l4.048,4.048a.759.759,0,0,1,0,1.074l-4.048,4.048A.754.754,0,0,1,395.431,110.921Zm0,0" transform="translate(-375.949 -96.491)" fill="#fff"/>
                        </g>
                      </svg>
                </span>

                </button>
            </div>
            </div>
        </div>
        </mat-carousel-slide>
        </mat-carousel>
      </div>

      </div>
</section> 


<!-- <div class="loading-home" *ngIf="loadding">
  <app-loading-page style="margin: auto;"></app-loading-page>
</div> -->
