<section class="statistics">
    <img src="../../../../assets/images/statistics/statistics.png">
    <!-- <div class="footer-statistics">
        <div class="row">
            <div class="col-md-3">
                <h1>1200</h1>
                <p>{{ 'numberOfBuyrs' | translate }}</p>
            </div>
            <div class="col-md-3">
                <h1>378</h1>
                <p>{{ 'numberOfsellers' | translate }}</p>
            </div>
            <div class="col-md-3">
                <h1>197</h1>
                <p>{{ 'numberOfbids' | translate }}</p>
            </div>
            <div class="col-md-3">
                <h1>2570</h1>
                <p>{{ 'numberOfOffers' | translate }}</p>
            </div>
        </div>
    </div> -->
</section>