<section class="footer">
    <div class="container">
        <div class="row">
            <div class="col-md-8">
                 {{ 'RightsReserved' | translate }}
            </div>
            <div class="col-md-2 PrivacyPolicy" routerLink="/privacy">
                 {{ 'PrivacyPolicy' | translate }}
            </div>
            <div class="col-md-2 PrivacyPolicy" routerLink="/terms">
                {{ 'TermsofService' | translate }}
            </div>
        </div>
    </div>
</section>