<section class="login-page">
    <div class="model-login">
        <div class="logoW logopassword" routerLink="/home">
            <img src="../../../../assets/images/LogoW.png">
        </div>
        <div class=" body-reset body-password">
            <div class="row">
                <div class="col-md-2"></div>
                <div class="col-md-8">
                    <h1 class="Verifycode"> {{ 'Resetyourpassword' | translate }}</h1>
                    <p class="textLogin"> {{ 'Pleaseenteryourregistered' | translate }}</p>
                    <form [formGroup]= "formGroup" (ngSubmit)="submit()">
                        <div class="form-group">
                            <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder=" {{ 'Usernameoremail' | translate }}" formControlName="email">
                          </div>
                        <button class="btn getStarted" type="submit" *ngIf="!loading"><span>{{ 'Verify' | translate }}</span></button>
                          <a class="loading" *ngIf="loading"> <img src="../../../../assets/images/lodingButton.png" class="fa-spin"></a>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>