<section class="noti">
    <div class="container">
        <div class="row">
            <h1> {{ 'Notifications' | translate }}<span class="number-noti"><span>2</span></span> <span class="number-message">55 {{ 'Notifications' | translate }}</span></h1>
            <div class="col-md-12">
                <div class="card-noti active-noti">
                    <h3>Notification Title</h3>
                    <p>Aliquam in bibendum mauris. Sed vitae erat vel velit blandit pharetra vitae nec ante. Cras at est augue. Cras ut interdum elit. Ut malesuada a urna sit amet blandit. Nullam nunc lorem, aliquam at eros laoreet, feugiat bibendum ligula. Aenean congue, massa id aliquet semper, ligula ante tristique nulla, quis posuere dui purus vel urna. Nullam varius, magna nec egestas convallis, orci ex tempus quam, id finibus arcu ipsum fringilla purus. Aenean dapibus suscipit eleifend. Aliquam vel ipsum eu lorem hendrerit iaculis vitae ut lorem. Suspendisse ullamcorper dolor faucibus sem auctor consequat. Ut luctus posuere auctor. Sed non molestie metus.</p>
                </div>
            </div>
            <div class="col-md-12">
                <div class="card-noti active-noti">
                    <h3>Notification Title</h3>
                    <p>Aliquam in bibendum mauris. Sed vitae erat vel velit blandit pharetra vitae nec ante. Cras at est augue. Cras ut interdum elit. Ut malesuada a urna sit amet blandit. Nullam nunc lorem, aliquam at eros laoreet, feugiat bibendum ligula. Aenean congue, massa id aliquet semper, ligula ante tristique nulla, quis posuere dui purus vel urna. Nullam varius, magna nec egestas convallis, orci ex tempus quam, id finibus arcu ipsum fringilla purus. Aenean dapibus suscipit eleifend. Aliquam vel ipsum eu lorem hendrerit iaculis vitae ut lorem. Suspendisse ullamcorper dolor faucibus sem auctor consequat. Ut luctus posuere auctor. Sed non molestie metus.</p>
                </div>
            </div>
            <div class="col-md-12">
                <div class="card-noti">
                    <h3>Notification Title
                        <span class="hours-bids">
                            <svg xmlns="http://www.w3.org/2000/svg" width="20.842" height="20.842" viewBox="0 0 20.842 20.842">
                                <path id="Icon_ionic-md-timer" data-name="Icon ionic-md-timer" d="M12.639,19.588A1.157,1.157,0,1,0,13.8,18.43,1.161,1.161,0,0,0,12.639,19.588Zm0-16.213V8h2.315V5.785A8.1,8.1,0,1,1,5.69,13.8a8.019,8.019,0,0,1,1.829-5.12L13.8,14.953l1.633-1.633L7.553,5.449v.025a10.4,10.4,0,1,0,6.243-2.1ZM20.745,13.8a1.157,1.157,0,1,0-1.157,1.157A1.161,1.161,0,0,0,20.745,13.8Zm-13.9,0A1.157,1.157,0,1,0,8,12.639,1.161,1.161,0,0,0,6.847,13.8Z" transform="translate(-3.375 -3.375)" fill="#c00"/>
                            </svg>
                            4 Days - 11 Hours Left
                        </span>
                    </h3>
                    <p class="row">
                        <span class="col-md-10">
                            Aliquam in bibendum mauris. Sed vitae erat vel velit blandit pharetra vitae nec ante. Cras at est augue. Cras ut interdum elit. Ut malesuada a urna sit amet blandit. Nullam nunc lorem, aliquam at eros laoreet, feugiat bibendum ligula. Aenean congue, massa id aliquet semper, ligula ante tristique nulla, quis posuere dui purus vel urna. Nullam varius, magna nec egestas convallis, orci ex tempus quam, id finibus arcu ipsum fringilla purus. Aenean dapibus suscipit eleifend. Aliquam vel ipsum eu lorem hendrerit iaculis vitae ut lorem. Suspendisse ullamcorper dolor faucibus sem auctor consequat. Ut luctus posuere auctor. Sed non molestie metus.
                        </span>
                        <span class="col-md-2 seeAll-bids">
                            <button  type="submit" class="btn"><span >Modify Bid</span></button>
                        </span>
                    </p>
                </div>
            </div>
            <div class="col-md-12">
                <div class="card-noti">
                    <h3>Notification Title</h3>
                    <p>Aliquam in bibendum mauris. Sed vitae erat vel velit blandit pharetra vitae nec ante. Cras at est augue. Cras ut interdum elit. Ut malesuada a urna sit amet blandit. Nullam nunc lorem, aliquam at eros laoreet, feugiat bibendum ligula. Aenean congue, massa id aliquet semper, ligula ante tristique nulla, quis posuere dui purus vel urna. Nullam varius, magna nec egestas convallis, orci ex tempus quam, id finibus arcu ipsum fringilla purus. Aenean dapibus suscipit eleifend. Aliquam vel ipsum eu lorem hendrerit iaculis vitae ut lorem. Suspendisse ullamcorper dolor faucibus sem auctor consequat. Ut luctus posuere auctor. Sed non molestie metus.</p>
                </div>
            </div>
            <div class="col-md-12">
                <div class="card-noti">
                    <h3>Notification Title</h3>
                    <p>Aliquam in bibendum mauris. Sed vitae erat vel velit blandit pharetra vitae nec ante. Cras at est augue. Cras ut interdum elit. Ut malesuada a urna sit amet blandit. Nullam nunc lorem, aliquam at eros laoreet, feugiat bibendum ligula. Aenean congue, massa id aliquet semper, ligula ante tristique nulla, quis posuere dui purus vel urna. Nullam varius, magna nec egestas convallis, orci ex tempus quam, id finibus arcu ipsum fringilla purus. Aenean dapibus suscipit eleifend. Aliquam vel ipsum eu lorem hendrerit iaculis vitae ut lorem. Suspendisse ullamcorper dolor faucibus sem auctor consequat. Ut luctus posuere auctor. Sed non molestie metus.</p>
                </div>
            </div>
            <div class="pagination">
                <ul id="pagination">
                    <li>
                        <a class="previoesPaginate">
                            <svg xmlns="http://www.w3.org/2000/svg" width="8.372" height="14.828" viewBox="0 0 8.372 14.828">
                                <path id="Path_1370" data-name="Path 1370" d="M225,6l5.929,5.929a.1.1,0,0,1,0,.141L225,18" transform="translate(-223.586 -4.586)" fill="none" stroke="#fff" stroke-linecap="round" stroke-width="2"/>
                            </svg>
                        </a>
                    </li>
                    <li><a class="active">1</a></li>
                    <li><a>2</a></li>
                    <li><a>3</a></li>
                    <li><a>4</a></li>
                    <li><a>5</a></li>
                    <li><a>6</a></li>
                    <li><a>7</a></li>
                    <li>
                        <a class="nextPaginate">
                            <svg xmlns="http://www.w3.org/2000/svg" width="8.372" height="14.828" viewBox="0 0 8.372 14.828">
                                <path id="Path_1370" data-name="Path 1370" d="M225,6l5.929,5.929a.1.1,0,0,1,0,.141L225,18" transform="translate(-223.586 -4.586)" fill="none" stroke="#fff" stroke-linecap="round" stroke-width="2"/>
                            </svg>
                        </a>
                    </li>
                  </ul> 
            </div>
        </div>
    </div>
</section>