<div class="bacground-prototype tobBids">
    <nav class="navbar navbar-expand-lg navbar-light ">
        <div class="container">
            <a class="navbar-brand" routerLink="/home">
                <img src="../../../../assets/images/Logo.png">
            </a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
               <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0 nav">
                    
                </ul>
                <form class="d-flex">
                    <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                        <li class="nav-item" routerLink="/message" routerLinkActive="active">
                            <a class="nav-link " aria-current="page"  >Messages</a>
                        </li>
                        <li class="nav-item" routerLink="/bids" routerLinkActive="active">
                            <a class="nav-link " aria-current="page"  >Applied Bids</a>
                        </li>
                        <li class="nav-item" routerLink="/create-bid" routerLinkActive="active">
                            <a class="nav-link " aria-current="page"  >Available Bids</a>
                        </li>
                        <li class="nav-item" routerLink="/profile" routerLinkActive="active">
                            <a class="nav-link " aria-current="page"  >My Profile</a>
                        </li>
                        <li class="nav-item" routerLink="/notification">
                            <a class="nav-link ">
                                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="19.951" viewBox="0 0 16 19.951">
                                    <path id="Path_1363" data-name="Path 1363" d="M18,13.18V10a6,6,0,0,0-5-5.91V3a1,1,0,1,0-2,0V4.09A6,6,0,0,0,6,10v3.18A3,3,0,0,0,4,16v2a1,1,0,0,0,1,1H8.14a4,4,0,0,0,7.72,0H19a1,1,0,0,0,1-1V16a3,3,0,0,0-2-2.82ZM8,10a4,4,0,1,1,8,0v3H8Zm4,10a2,2,0,0,1-1.72-1h3.44A2,2,0,0,1,12,20Zm6-3H6V16a1,1,0,0,1,1-1H17a1,1,0,0,1,1,1Z" transform="translate(-4 -2)" fill="#1e805d"/>
                                </svg>
                            </a>
                        </li>
                    </ul>
                    
                </form>
            </div>
        </div>
      </nav>
</div>
