<section class="noti">
    <div class="container">
        <div class="row">
            <h1>Seller’s Requests <span class="number-noti"><span>1</span></span> <span class="number-message">15 Request</span></h1>
            <div class="col-md-12">
                <div class="card-noti active-noti">
                    <h3>Seller Name
                        <span class="code-sellar">22-10-2021</span>
                        <span class="Approve-reject">
                            <button class="btn logIn" type="submit">
                                <span><i class="far fa-thumbs-down"></i> Reject</span>
                            </button>
                            <button class="btn logIn" type="submit">
                                <span><i class="far fa-thumbs-up"></i>Approve</span>
                            </button>
                        </span>
                    </h3>
                    <ul class="contact-sellar">
                        <li><i class="fas fa-phone-alt"></i> +966 54 639 0904</li>
                        <li><i class="fas fa-envelope"></i> m.hazem@pointseven.net</li>
                    </ul>
                    <h4 class="conditionSeller">
                        <span class="condition">Company Attachments</span>
                        <span class="attachment-bids">
                            <svg xmlns="http://www.w3.org/2000/svg" width="17.008" height="17.754" viewBox="0 0 17.008 17.754">
                                <path id="Path_1371" data-name="Path 1371" d="M19.8,11.854l-7.47,7.47a4.88,4.88,0,0,1-6.9-6.9l7.47-7.47a3.253,3.253,0,1,1,4.6,4.6l-7.478,7.47a1.627,1.627,0,1,1-2.3-2.3l6.9-6.893" transform="translate(-3.5 -3.5)" fill="none" stroke="#1e805d" stroke-linecap="round" stroke-linejoin="round" stroke-width="1"/>
                            </svg>
                            Attachment.pdf
                        </span>
                        <span class="attachment-bids">
                            <svg xmlns="http://www.w3.org/2000/svg" width="17.008" height="17.754" viewBox="0 0 17.008 17.754">
                                <path id="Path_1371" data-name="Path 1371" d="M19.8,11.854l-7.47,7.47a4.88,4.88,0,0,1-6.9-6.9l7.47-7.47a3.253,3.253,0,1,1,4.6,4.6l-7.478,7.47a1.627,1.627,0,1,1-2.3-2.3l6.9-6.893" transform="translate(-3.5 -3.5)" fill="none" stroke="#1e805d" stroke-linecap="round" stroke-linejoin="round" stroke-width="1"/>
                            </svg>
                            Attachment.pdf
                        </span>
                        <span class="attachment-bids">
                            <svg xmlns="http://www.w3.org/2000/svg" width="17.008" height="17.754" viewBox="0 0 17.008 17.754">
                                <path id="Path_1371" data-name="Path 1371" d="M19.8,11.854l-7.47,7.47a4.88,4.88,0,0,1-6.9-6.9l7.47-7.47a3.253,3.253,0,1,1,4.6,4.6l-7.478,7.47a1.627,1.627,0,1,1-2.3-2.3l6.9-6.893" transform="translate(-3.5 -3.5)" fill="none" stroke="#1e805d" stroke-linecap="round" stroke-linejoin="round" stroke-width="1"/>
                            </svg>
                            Attachment.pdf
                        </span>
                        <span class="downlod-boids">
                            <svg xmlns="http://www.w3.org/2000/svg" width="19.5" height="19.5" viewBox="0 0 19.5 19.5">
                                <path id="Path_1372" data-name="Path 1372" d="M23,17v4a2,2,0,0,1-2,2H7a2,2,0,0,1-2-2V17m4-5,5,5m0,0,5-5m-5,5V5" transform="translate(-4.25 -4.25)" fill="none" stroke="#1e805d" stroke-linecap="round" stroke-linejoin="round" stroke-width="1.5"/>
                                </svg>                                  
                        </span>
                    </h4>
                </div>
            </div>
            <div class="col-md-12">
                <div class="card-noti">
                    <h3>Seller Name
                        <span class="code-sellar">22-10-2021</span>
                        <span class="Approve-reject">
                            <button class="btn Approved" type="submit">
                                <span><i class="far fa-thumbs-up"></i>Approved</span>
                            </button>
                        </span>
                    </h3>
                    <ul class="contact-sellar">
                        <li><i class="fas fa-phone-alt"></i> +966 54 639 0904</li>
                        <li><i class="fas fa-envelope"></i> m.hazem@pointseven.net</li>
                    </ul>
                    <h4 class="conditionSeller">
                        <span class="condition">Company Attachments</span>
                        <span class="attachment-bids">
                            <svg xmlns="http://www.w3.org/2000/svg" width="17.008" height="17.754" viewBox="0 0 17.008 17.754">
                                <path id="Path_1371" data-name="Path 1371" d="M19.8,11.854l-7.47,7.47a4.88,4.88,0,0,1-6.9-6.9l7.47-7.47a3.253,3.253,0,1,1,4.6,4.6l-7.478,7.47a1.627,1.627,0,1,1-2.3-2.3l6.9-6.893" transform="translate(-3.5 -3.5)" fill="none" stroke="#1e805d" stroke-linecap="round" stroke-linejoin="round" stroke-width="1"/>
                            </svg>
                            Attachment.pdf
                        </span>
                        <span class="attachment-bids">
                            <svg xmlns="http://www.w3.org/2000/svg" width="17.008" height="17.754" viewBox="0 0 17.008 17.754">
                                <path id="Path_1371" data-name="Path 1371" d="M19.8,11.854l-7.47,7.47a4.88,4.88,0,0,1-6.9-6.9l7.47-7.47a3.253,3.253,0,1,1,4.6,4.6l-7.478,7.47a1.627,1.627,0,1,1-2.3-2.3l6.9-6.893" transform="translate(-3.5 -3.5)" fill="none" stroke="#1e805d" stroke-linecap="round" stroke-linejoin="round" stroke-width="1"/>
                            </svg>
                            Attachment.pdf
                        </span>
                        <span class="attachment-bids">
                            <svg xmlns="http://www.w3.org/2000/svg" width="17.008" height="17.754" viewBox="0 0 17.008 17.754">
                                <path id="Path_1371" data-name="Path 1371" d="M19.8,11.854l-7.47,7.47a4.88,4.88,0,0,1-6.9-6.9l7.47-7.47a3.253,3.253,0,1,1,4.6,4.6l-7.478,7.47a1.627,1.627,0,1,1-2.3-2.3l6.9-6.893" transform="translate(-3.5 -3.5)" fill="none" stroke="#1e805d" stroke-linecap="round" stroke-linejoin="round" stroke-width="1"/>
                            </svg>
                            Attachment.pdf
                        </span>
                        <span class="downlod-boids">
                            <svg xmlns="http://www.w3.org/2000/svg" width="19.5" height="19.5" viewBox="0 0 19.5 19.5">
                                <path id="Path_1372" data-name="Path 1372" d="M23,17v4a2,2,0,0,1-2,2H7a2,2,0,0,1-2-2V17m4-5,5,5m0,0,5-5m-5,5V5" transform="translate(-4.25 -4.25)" fill="none" stroke="#1e805d" stroke-linecap="round" stroke-linejoin="round" stroke-width="1.5"/>
                                </svg>                                  
                        </span>
                    </h4>
                </div>
            </div>
            <div class="col-md-12">
                <div class="card-noti">
                    <h3>Seller Name
                        <span class="code-sellar">22-10-2021</span>
                        <span class="Approve-reject">
                            <button class="btn Approved" type="submit">
                                <span><i class="far fa-thumbs-up"></i>Approved</span>
                            </button>
                        </span>
                    </h3>
                    <ul class="contact-sellar">
                        <li><i class="fas fa-phone-alt"></i> +966 54 639 0904</li>
                        <li><i class="fas fa-envelope"></i> m.hazem@pointseven.net</li>
                    </ul>
                    <h4 class="conditionSeller">
                        <span class="condition">Company Attachments</span>
                        <span class="attachment-bids">
                            <svg xmlns="http://www.w3.org/2000/svg" width="17.008" height="17.754" viewBox="0 0 17.008 17.754">
                                <path id="Path_1371" data-name="Path 1371" d="M19.8,11.854l-7.47,7.47a4.88,4.88,0,0,1-6.9-6.9l7.47-7.47a3.253,3.253,0,1,1,4.6,4.6l-7.478,7.47a1.627,1.627,0,1,1-2.3-2.3l6.9-6.893" transform="translate(-3.5 -3.5)" fill="none" stroke="#1e805d" stroke-linecap="round" stroke-linejoin="round" stroke-width="1"/>
                            </svg>
                            Attachment.pdf
                        </span>
                        <span class="attachment-bids">
                            <svg xmlns="http://www.w3.org/2000/svg" width="17.008" height="17.754" viewBox="0 0 17.008 17.754">
                                <path id="Path_1371" data-name="Path 1371" d="M19.8,11.854l-7.47,7.47a4.88,4.88,0,0,1-6.9-6.9l7.47-7.47a3.253,3.253,0,1,1,4.6,4.6l-7.478,7.47a1.627,1.627,0,1,1-2.3-2.3l6.9-6.893" transform="translate(-3.5 -3.5)" fill="none" stroke="#1e805d" stroke-linecap="round" stroke-linejoin="round" stroke-width="1"/>
                            </svg>
                            Attachment.pdf
                        </span>
                        <span class="attachment-bids">
                            <svg xmlns="http://www.w3.org/2000/svg" width="17.008" height="17.754" viewBox="0 0 17.008 17.754">
                                <path id="Path_1371" data-name="Path 1371" d="M19.8,11.854l-7.47,7.47a4.88,4.88,0,0,1-6.9-6.9l7.47-7.47a3.253,3.253,0,1,1,4.6,4.6l-7.478,7.47a1.627,1.627,0,1,1-2.3-2.3l6.9-6.893" transform="translate(-3.5 -3.5)" fill="none" stroke="#1e805d" stroke-linecap="round" stroke-linejoin="round" stroke-width="1"/>
                            </svg>
                            Attachment.pdf
                        </span>
                        <span class="downlod-boids">
                            <svg xmlns="http://www.w3.org/2000/svg" width="19.5" height="19.5" viewBox="0 0 19.5 19.5">
                                <path id="Path_1372" data-name="Path 1372" d="M23,17v4a2,2,0,0,1-2,2H7a2,2,0,0,1-2-2V17m4-5,5,5m0,0,5-5m-5,5V5" transform="translate(-4.25 -4.25)" fill="none" stroke="#1e805d" stroke-linecap="round" stroke-linejoin="round" stroke-width="1.5"/>
                                </svg>                                  
                        </span>
                    </h4>
                </div>
            </div>
            <div class="col-md-12">
                <div class="card-noti">
                    <h3>Seller Name
                        <span class="code-sellar">22-10-2021</span>
                        <span class="Approve-reject">
                            <button class="btn Approved" type="submit">
                                <span><i class="far fa-thumbs-up"></i>Approved</span>
                            </button>
                        </span>
                    </h3>
                    <ul class="contact-sellar">
                        <li><i class="fas fa-phone-alt"></i> +966 54 639 0904</li>
                        <li><i class="fas fa-envelope"></i> m.hazem@pointseven.net</li>
                    </ul>
                    <h4 class="conditionSeller">
                        <span class="condition">Company Attachments</span>
                        <span class="attachment-bids">
                            <svg xmlns="http://www.w3.org/2000/svg" width="17.008" height="17.754" viewBox="0 0 17.008 17.754">
                                <path id="Path_1371" data-name="Path 1371" d="M19.8,11.854l-7.47,7.47a4.88,4.88,0,0,1-6.9-6.9l7.47-7.47a3.253,3.253,0,1,1,4.6,4.6l-7.478,7.47a1.627,1.627,0,1,1-2.3-2.3l6.9-6.893" transform="translate(-3.5 -3.5)" fill="none" stroke="#1e805d" stroke-linecap="round" stroke-linejoin="round" stroke-width="1"/>
                            </svg>
                            Attachment.pdf
                        </span>
                        <span class="attachment-bids">
                            <svg xmlns="http://www.w3.org/2000/svg" width="17.008" height="17.754" viewBox="0 0 17.008 17.754">
                                <path id="Path_1371" data-name="Path 1371" d="M19.8,11.854l-7.47,7.47a4.88,4.88,0,0,1-6.9-6.9l7.47-7.47a3.253,3.253,0,1,1,4.6,4.6l-7.478,7.47a1.627,1.627,0,1,1-2.3-2.3l6.9-6.893" transform="translate(-3.5 -3.5)" fill="none" stroke="#1e805d" stroke-linecap="round" stroke-linejoin="round" stroke-width="1"/>
                            </svg>
                            Attachment.pdf
                        </span>
                        <span class="attachment-bids">
                            <svg xmlns="http://www.w3.org/2000/svg" width="17.008" height="17.754" viewBox="0 0 17.008 17.754">
                                <path id="Path_1371" data-name="Path 1371" d="M19.8,11.854l-7.47,7.47a4.88,4.88,0,0,1-6.9-6.9l7.47-7.47a3.253,3.253,0,1,1,4.6,4.6l-7.478,7.47a1.627,1.627,0,1,1-2.3-2.3l6.9-6.893" transform="translate(-3.5 -3.5)" fill="none" stroke="#1e805d" stroke-linecap="round" stroke-linejoin="round" stroke-width="1"/>
                            </svg>
                            Attachment.pdf
                        </span>
                        <span class="downlod-boids">
                            <svg xmlns="http://www.w3.org/2000/svg" width="19.5" height="19.5" viewBox="0 0 19.5 19.5">
                                <path id="Path_1372" data-name="Path 1372" d="M23,17v4a2,2,0,0,1-2,2H7a2,2,0,0,1-2-2V17m4-5,5,5m0,0,5-5m-5,5V5" transform="translate(-4.25 -4.25)" fill="none" stroke="#1e805d" stroke-linecap="round" stroke-linejoin="round" stroke-width="1.5"/>
                                </svg>                                  
                        </span>
                    </h4>
                </div>
            </div>
            
            <div class="pagination">
                <ul id="pagination">
                    <li>
                        <a class="previoesPaginate">
                            <svg xmlns="http://www.w3.org/2000/svg" width="8.372" height="14.828" viewBox="0 0 8.372 14.828">
                                <path id="Path_1370" data-name="Path 1370" d="M225,6l5.929,5.929a.1.1,0,0,1,0,.141L225,18" transform="translate(-223.586 -4.586)" fill="none" stroke="#fff" stroke-linecap="round" stroke-width="2"/>
                            </svg>
                        </a>
                    </li>
                    <li><a class="active">1</a></li>
                    <li><a>2</a></li>
                    <li><a>3</a></li>
                    <li><a>4</a></li>
                    <li><a>5</a></li>
                    <li><a>6</a></li>
                    <li><a>7</a></li>
                    <li>
                        <a class="nextPaginate">
                            <svg xmlns="http://www.w3.org/2000/svg" width="8.372" height="14.828" viewBox="0 0 8.372 14.828">
                                <path id="Path_1370" data-name="Path 1370" d="M225,6l5.929,5.929a.1.1,0,0,1,0,.141L225,18" transform="translate(-223.586 -4.586)" fill="none" stroke="#fff" stroke-linecap="round" stroke-width="2"/>
                            </svg>
                        </a>
                    </li>
                  </ul> 
            </div>
        </div>
    </div>
</section>