<div class="bacground-prototype">
    <nav class="navbar navbar-expand-lg navbar-light ">
        <div class="container">
            <a class="navbar-brand" routerLink="/home">
                <img src="../../../../assets/images/Logo.png">
            </a>
            <button (clickOutside)="onClickedOut($event)" (click)="clickinside()" class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation" #showmenu>
                <span class="navbar-toggler-icon"></span>
             </button>
             <button (click)="onClickedOutClose()" class="navbar-toggler menue" #closemenue>
                <span class="navbar-toggler-icon"></span>
             </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent" #isShow>
                <ul class="navbar-nav me-auto mb-2 mb-lg-0 nav">
                    
                </ul>
                <form class="d-flex">
                    <ul class="navbar-nav me-auto mb-2 mb-lg-0" >
                        <li class="nav-item">
                            <a class="nav-link " aria-current="page"  (click)="scroll(aboutUs)"> {{ 'AboutMounaqes' | translate }}</a>
                        </li>
                        <!-- <li class="nav-item">
                            <a class="nav-link " aria-current="page"  (click)="scroll(scrollBids)"> {{ 'Bids' | translate }}</a>
                        </li> -->
                        <li class="nav-item" *ngIf="langCondition" (click)="langButton('en')">
                            <a class="nav-link " aria-current="page"> English</a>
                        </li>
                        <li class="nav-item" *ngIf="!langCondition" (click)="langButton('ar')">
                            <a class="nav-link " aria-current="page"> العربية</a>
                        </li>
                        <li class="nav-item buttonsLOg" *ngIf="!homeIstoken" (click)="nave('/login')" >
                            <button class="btn logIn" type="submit"><span> {{ 'Login' | translate }}</span></button>
                        </li>
                        <li class="nav-item buttonsLOg" *ngIf="!homeIstoken" routerLink="/register"  >
                            <button class="btn getStarted" type="submit"><span> {{ 'GetStarted' | translate }}
                                <svg xmlns="http://www.w3.org/2000/svg" width="24.29" height="21.253" viewBox="0 0 24.29 21.253">
                                    <g id="user_1_" data-name="user (1)" transform="translate(0 -0.008)">
                                      <path id="Path_829" data-name="Path 829" d="M90.392,10.128a5.06,5.06,0,1,1,5.06-5.06A5.066,5.066,0,0,1,90.392,10.128Zm0-8.6a3.542,3.542,0,1,0,3.542,3.542A3.546,3.546,0,0,0,90.392,1.526Zm0,0" transform="translate(-81.284)" fill="#fff"/>
                                      <path id="Path_830" data-name="Path 830" d="M17.458,265.116H.759A.759.759,0,0,1,0,264.357v-3.542a4.813,4.813,0,0,1,4.807-4.807h8.6a4.813,4.813,0,0,1,4.807,4.807v3.542A.759.759,0,0,1,17.458,265.116ZM1.518,263.6H16.7v-2.783a3.293,3.293,0,0,0-3.289-3.289h-8.6a3.293,3.293,0,0,0-3.289,3.289Zm0,0" transform="translate(0 -243.855)" fill="#fff"/>
                                      <path id="Path_831" data-name="Path 831" d="M308.029,188.194h-8.6a.759.759,0,0,1,0-1.518h8.6a.759.759,0,0,1,0,1.518Zm0,0" transform="translate(-284.499 -177.813)" fill="#fff"/>
                                      <path id="Path_832" data-name="Path 832" d="M395.431,110.921a.759.759,0,0,1-.536-1.3l3.512-3.512-3.512-3.512a.759.759,0,1,1,1.074-1.074l4.048,4.048a.759.759,0,0,1,0,1.074l-4.048,4.048A.754.754,0,0,1,395.431,110.921Zm0,0" transform="translate(-375.949 -96.491)" fill="#fff"/>
                                    </g>
                                  </svg>
                            </span>
                            </button>
                        </li>
                        <li class="nav-item buttonsLOg" *ngIf="homeIstoken" (click)="dashboard()">
                            <button class="btn logIn" type="submit"><span> {{ 'DashBoard' | translate }}</span></button>
                        </li>
                        <li class="nav-item buttonsLOg" *ngIf="homeIstoken" data-bs-toggle="modal" data-bs-target="#logOut">
                            <button class="btn getStarted" type="submit"><span> {{ 'SignOut' | translate }}
                                <svg xmlns="http://www.w3.org/2000/svg" width="24.29" height="21.253" viewBox="0 0 24.29 21.253">
                                    <g id="user_1_" data-name="user (1)" transform="translate(0 -0.008)">
                                      <path id="Path_829" data-name="Path 829" d="M90.392,10.128a5.06,5.06,0,1,1,5.06-5.06A5.066,5.066,0,0,1,90.392,10.128Zm0-8.6a3.542,3.542,0,1,0,3.542,3.542A3.546,3.546,0,0,0,90.392,1.526Zm0,0" transform="translate(-81.284)" fill="#fff"/>
                                      <path id="Path_830" data-name="Path 830" d="M17.458,265.116H.759A.759.759,0,0,1,0,264.357v-3.542a4.813,4.813,0,0,1,4.807-4.807h8.6a4.813,4.813,0,0,1,4.807,4.807v3.542A.759.759,0,0,1,17.458,265.116ZM1.518,263.6H16.7v-2.783a3.293,3.293,0,0,0-3.289-3.289h-8.6a3.293,3.293,0,0,0-3.289,3.289Zm0,0" transform="translate(0 -243.855)" fill="#fff"/>
                                      <path id="Path_831" data-name="Path 831" d="M308.029,188.194h-8.6a.759.759,0,0,1,0-1.518h8.6a.759.759,0,0,1,0,1.518Zm0,0" transform="translate(-284.499 -177.813)" fill="#fff"/>
                                      <path id="Path_832" data-name="Path 832" d="M395.431,110.921a.759.759,0,0,1-.536-1.3l3.512-3.512-3.512-3.512a.759.759,0,1,1,1.074-1.074l4.048,4.048a.759.759,0,0,1,0,1.074l-4.048,4.048A.754.754,0,0,1,395.431,110.921Zm0,0" transform="translate(-375.949 -96.491)" fill="#fff"/>
                                    </g>
                                  </svg>
                            </span>
                            </button>
                        </li>
                        
                    </ul>
                    
                </form>
            </div>
        </div>
      </nav>
</div>

<app-slider-home></app-slider-home>
<div #aboutUs>
    <app-about-munaqes ></app-about-munaqes>

</div>
<app-video></app-video>
<!-- <div #scrollBids>
    <app-bids ></app-bids>
</div> -->
<app-statistics></app-statistics>

<div class="modal fade" id="logOut" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content"> 
            <div class="modal-body bodyPrototype">
                <span class="cloes" data-bs-dismiss="modal" aria-label="Close">
                    <svg id="Circle_Button_" data-name="Circle Button " xmlns="http://www.w3.org/2000/svg" width="48" height="48" viewBox="0 0 48 48">
                        <rect id="Area_SIZE:MEDIUM_STATE:DEFAULT_STYLE:STYLE2_" data-name="Area [SIZE:MEDIUM][STATE:DEFAULT][STYLE:STYLE2]" width="48" height="48" rx="24" fill="#f2f4f8"/>
                        <g id="Icon_" data-name="Icon " transform="translate(14 14)">
                          <rect id="Area_ICON:feather_x_SIZE:MEDIUM_STATE:DEFAULT_STYLE:STYLE2_" data-name="Area [ICON:feather/x][SIZE:MEDIUM][STATE:DEFAULT][STYLE:STYLE2]" width="20" height="20" fill="rgba(253,73,198,0.35)" opacity="0"/>
                          <g id="Icon" transform="translate(-1 -1)">
                            <line id="Line" x1="10" y2="10" transform="translate(6 6)" fill="none" stroke="#010131" stroke-linecap="round" stroke-linejoin="round" stroke-width="1.667"/>
                            <line id="Line-2" data-name="Line" x2="10" y2="10" transform="translate(6 6)" fill="none" stroke="#010131" stroke-linecap="round" stroke-linejoin="round" stroke-width="1.667"/>
                          </g>
                        </g>
                      </svg>
                </span>
                <div class="row">
                    <div class="col-md-12" style="text-align: center;">
                        <h1> {{ 'Areyousure' | translate }}</h1>
                        <p> {{ 'rellyWantLogOut' | translate }}</p>
                        <button class="btn getStarted ng-inserted btn-log-Out" data-bs-dismiss="modal" (click)="logOut()">
                            <span>{{ 'YES' | translate }}</span>
                          </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
